.accordion-wrapper
{
  .accordion-header
  {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .icon{
      transition: all 0.5s ease-in-out;
      height: 16px;
      width: 16px;

    }
  }

  .accordion-body-wrapper
  {
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    min-height: 0;
    height: 0;
  }

  .accordion-body
  {
    .accordion-body-inner {
      padding: 10px 0;
      font-size: 14px;

      .h5-p {
        padding-bottom: 20px;
      }
    }

  }
}
